.body {
  margin: auto;
  padding: 15px;
}
.container{
    margin-bottom: 30px;
    width: 100%;
}
.card{
  margin-left: -10px;
  margin-right: -10px;
}
h1 {
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.collapsible {
  cursor: pointer;
  width: 35%;
  }
.active, .collapsible:hover {
  background-color: #555;
}
.content {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0 18px;
  max-height: auto;
  overflow: visible;
}
.symbol {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

#aboutUsView {
  margin-top: 20px;
  margin-left: 15px;
}
.menu:hover {
  background-color: #555;
}
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position:absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} 
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 350px;
}
.parallax1 {
  background-image: url("assets/business-economic-growth-global-business-network-data-analysis-financial-banking.jpg");
  background-size:cover; 
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.menu {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.input-group {
  margin-bottom: 10px;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }